@using DataLibrary.Database
@model  PCar.Models.DetailArticle
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
}
@section styles
{
    <link href="~/Assets/Web/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/Web/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/new-detail.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/news.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/news_res.css" rel="stylesheet" />
 }

@section content {

    <meta property="og:url" content="@Request.Url.ToString()" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Article.Title" />
    <meta property="og:description" content="@Model.Article.Description" />
    <meta property="og:image" content="http://@Request.Url.Host@Model.Article.Image" />

}

 
 
    <div class="site-section-cover overlay inner-page bg-light" style="background-image: url('/Assets/Web/images/forex/bg.jpg')" data-aos="fade">

        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <div class="col-lg-10">

                    <div class="box-shadow-content">
                        <div class="block-heading-1">
                            <span class="d-block mb-3 text-white" data-aos="fade-up">@Model.Article.CreateDate <span class="mx-2 text-primary">&bullet;</span> bởi @Model.Author</span>
                            <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">@Model.Article.Title</h1>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>



    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-content">
                    <p>
                        @Html.Raw(Model.Article.Content)
                    </p>


 
                </div>
                <div class="col-md-4 sidebar">
                  
                    <div class="sidebar-box">
                        <div class="categories">
                            <h3>Bài Viết Liên Quan</h3>
                        @foreach (var item in Model.Articles)
                        {
                            <li><a href="/@item.MenuAlias/@item.ID/@item.Alias">@item.Title <span></span></a></li>
                        }
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>


 

@*<div class="wraplist wrapP_lisr">
    <div class="container">
        <div class="list-news">
            <div class="row">
                <div class="col-12">
                    <h3 class="new_here">Tin Liên Quan</h3>
                </div>
                <div id="carousel_new" class="owl-carousel owl-theme">

                    @foreach (var item in Model.Articles)
                    {

                        <div class="item">
                            <div class="wrap_item">
                                <a href="/@item.MenuAlias/@item.ID/@item.Alias" title="">
                                    <div class="img">
                                        <img src="@item.Image" alt="">
                                    </div>
                                    <div class="content_new">
                                        <h2 class="title_new">@item.Title</h2>
                                        <p class="conten">@Html.Raw(item.Description).</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>*@

@section scripts
{
    <script src="~/Assets/Web/plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $('#carousel_new').owlCarousel({
            loop: false,
            margin: 25,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>

}
