@using DataLibrary.Database
@model IEnumerable<DataLibrary.Database.Article>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    int i = 1;
}


@section styles
{
    <link href="~/Assets/Web/plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/Web/plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/new-detail.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/news.css" rel="stylesheet" />
    <link href="~/Assets/Web/css/news_res.css" rel="stylesheet" />
    <style>
        .view-loadMore {
            display: none;
        }

        .viewDt {
            padding: 10px;
            text-align: center;
            /*background-color: #33739E;*/
            color: #fff;
            border-width: 0 1px 1px 0;
            border-style: solid;
            border-color: #fff;
            box-shadow: 0 1px 1px #ccc;
            transition: all 600ms ease-in-out;
            -webkit-transition: all 600ms ease-in-out;
            -moz-transition: all 600ms ease-in-out;
            -o-transition: all 600ms ease-in-out;
        }
    </style>
}
<div class="style_baner_header">
    <div class="container">
        <div class="wrapr">
            <h2 style="color: #ffffff !important">@menu.Title</h2>
            <div>
                <span>
                    <a href="/" title="trang chủ">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g id="home"><polygon points="204,471.75 204,318.75 306,318.75 306,471.75 433.5,471.75 433.5,267.75 510,267.75 255,38.25 0,267.75     76.5,267.75 76.5,471.75   " fill="#FFFFFF"></polygon></g></svg>Trang Chủ
                    </a>
                </span>
                <span class="icon_arow"></span>
                <span class="linkPage">
                    <a href="/" title="tin tức">
                        @menu.Title
                    </a>
                </span>

            </div>
        </div>
    </div>
</div>

<div class="wraplist">
    <div class="container">
        <div class="list-news">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4 wra view-loadMore">
                        <div class="wrap_item">
                            <a href="@item.MenuAlias/@item.ID/@item.Alias" title="">
                                <div class="img">
                                    <img src="@item.Image" alt="">
                                </div>
                                <div class="content_new">
                                    <h2 class="title_new">@item.Title</h2>
                                    <p class="conten">@Html.Raw(item.Description)</p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="load-more">
            <div class="bt-submit">
                <button type="button" value="submit" class="btn btn-danger viewDt">
                    Xem thêm
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            $(".view-loadMore").slice(0, 6).show();
            $(".viewDt").on('click', function (e) {

                e.preventDefault();
                $(".view-loadMore:hidden").slice(0, 6).slideDown();
                if ($(".view-loadMore:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });
    </script>
}
