@using DataLibrary.Config
@using DataLibrary.Config
@model PCar.Areas.Administrator.Models.MenuViewModel
@{
    ViewBag.Title = "Trang chuyên mục";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdmin.cshtml";
    SystemMenuLocation menuLocation = ViewBag.MenuLocation ?? new SystemMenuLocation();
}
@section styles
{

    <!-- DataTables -->
    @*<link rel="stylesheet" href="~/Assets/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">*@
    <link href="~/Scripts/jquery-ui-1.11.0/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jtable/themes/metro/lightgray/jtable.min.css" rel="stylesheet" />
    <link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css" rel="stylesheet" />

}

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Quản lý Menu
                </h3>
            </div>
            <div class="card-body pad table-responsive">
                <form action="@Url.Action("UpdateIndex", "Menu")" method="POST" id="updateIndex">
                    <input type="hidden" name="locationID" value="@menuLocation.LocationId" />
                    <div id="lstMenu">

                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.col -->
</div>


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#lstMenu').jtable({
                title: '@menuLocation.TitleMenu',
                paging: true,
                pageSize: 20,
                sorting: true,
                defaultSorting: 'Name ASC',
                selecting: true,
                multiselect: true,
                selectingCheckboxes: true,
                columnResizable: true,
                columnSelectable: true,
                saveUserPreferences: true,
                toolbar: {
                    items: [{
                        icon: '/Scripts/jtable/themes/lightcolor/add.png',
                        text: 'Thêm mới',
                        click: function () {
                            window.location = '@Url.Action("Create","Menu")?location=@menuLocation.AliasMenu';
                        }
                    }, {
                        icon: '/Scripts/jtable/themes/lightcolor/column-sortable.png',
                        text: 'Sắp xếp',
                        click: function () {
                            $("#updateIndex").submit();
                        }
                    }]
                },
                actions: {
                    listAction: '@Url.Action("List")',
                    deleteAction: '@Url.Action("Delete")',

                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false,
                    },
                    Title: {
                        title: '@Html.DisplayNameFor(u => u.Title)',
                        width: '10%',
                        display: function(data) {
                            return '<a href="/Admin/Menu/Update/'+data.record.ID+'?location=@menuLocation.AliasMenu"><span class="gach-' + data.record.Level + '">' + '<b>' + data.record.Title +'</b>' + '</span></a>';
                        },
                    },
                    TypeMenu: {
                        title: '@Html.DisplayNameFor(c => c.TypeMenu)',
                        width: '12%',
                    },
                    Index: {
                        title: '@Html.DisplayNameFor(c=>c.Index)',
                        width: '8%',
                        sorting: false,
                        display: function(data) {
                            return '<input type="text" name="sort[' + data.record.ID + '].Index" style="width:40px" value="' + data.record.Index + '"/>';
                        },
                    },
                    Status: {
                        title: '@Html.DisplayNameFor(c => c.Status)',
                        width: '8%',
                        type: 'checkbox',
                        values: { 'false': 'Không', 'true': 'Hiển thị' },
                    },
                    IsMenu: {
                        title: '@Html.DisplayNameFor(c => c.IsMenu)',
                        width: '8%',
                        type: 'checkbox',
                        values: { 'false': 'Không hiển thị', 'true': 'Hiển thị' },
                    },
                    '':
                    {
                        title: '',
                        width: '2%',
                        sorting: false,
                        display: function(data) {
                            return '<button title="Edit" type="button" class="jtable-command-button jtable-edit-command-button" onclick="editRecord(' + data.record.ID + ')"><span>Edit</span></button>';
                        }
                    }
                },
            });

            //Load student list from server
            $('#lstMenu').jtable('load', { locationID: '@menuLocation.LocationId' });
        });

    </script>

    <script>
        function editRecord(menuid) {
            window.location = '@Url.Action("Update","Menu")/' + menuid + "?location=@menuLocation.AliasMenu";
        }
    </script>>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <script src="~/Scripts/jtable/jquery.jtable.js"></script>


}
